<!doctype html>
<html lang=en>
<head>
<meta charset="utf-8">
<title><%= @title %></title>
<style type="text/css">
  @page {
    size: <%= @pdf_dimensions || "8in 8.8in" %>;
    margin: <%= @pdf_margin || "15%" %>;

    @bottom-left {
      font-size: 60%;
      padding-left: 1em;
      content: "<%= @title %>";
    }
  
    @bottom-right {
      font-size: 60%;
      content: counter(page);
    }
  }

  .cover {
    page-break-after: always;
  }

  h1 {
    page-break-before: always;
  }

  .cover .title {
    font-family: helvetica, arial, sans-serif;
    border-bottom: 1px solid #CCC;
    padding-bottom: 0.5em;
    font-size: 2em;
  }

  .cover .subtitle {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.5em;
  }

  .cover .author {
    font-family: 'Droid Sans', helvetica, arial, sans-serif;
    font-size: 1.5em;
    padding-top: 1em;
  }
  <%= Pygments.css %>
</style>
</head>
<body>

<div id="container">
  <div id="content-container">
    <div id="content">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
